<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="db" connectionString="Server=150.158.45.238;Database=mogudb;uid=root;pwd=123456;Charset=utf8;SslMode = none;" />-->
    <add name="db" connectionString="Server=127.0.0.1;Database=test;uid=root;pwd=123456;Charset=utf8;SslMode = none;" />
  </connectionStrings>
</configuration>